<% if @event.bands.unapproved.present? %>
  <h2>WARNING: This event has unapproved bands</h2>
  <p>
    Be sure to approve these bands, too:
    <% @event.bands.unapproved.each do |band|%>
      <%= link_to band.name, edit_admin_band_path(band) %>,
    <% end %>
  </p>
<% end %>

<% if @event.venue.present?  && @event.venue.approved == false %>
  <h2>WARNING: This event's venue is not approved yet</h2>
  <p>
    Be sure to approve this venue, too:
    <%= link_to @event.venue.name, edit_admin_venue_path(@event.venue) %>,
  </p>
<% end %>

<%= render 'form' %>

<script>
  $(document).ready(function() { $('#event_band_ids').chosen({width: "50%"}); });
  $(document).ready(function() { $('#event_venue_id').chosen({width: "50%"}); });
  
</script>