<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><a href="#english">[For English, see below]</a></p>
    <h1>안녕하신가요 <%= @user.username %>?</h1>
    <p>
     축하합니다! <%= @event.ko_name %>의 정보를 관리할 수 있는 요청이 우리 관리자에 의해 승인되었습니다. 공연 프로필 페이지 아래 쪽에 있는 ‘공연 프로필 수정하기’를 클릭하기만 하면 언제든지 공연에 관한 정보를 자유롭게 수정할 수 있습니다. (반드시 로그인된 상태여야만, 이 옵션이 나타납니다.) 공연/공연장/프로필 편집 권한자 목록들은 로그인한 상태에서 ‘마이 페이지’에 가면 간단하게 확인할 수 있습니다. (‘마이 페이지’는 메인메뉴인 ‘회원가입' 아래에 있습니다. 다시한번 말씀드리지만 반드시 로그인된 상태여야만 이것을 보실 수 있습니다.) 
    </p>
    <p>
      당신의 공연 정보를 각기 다른 소셜 네트워크 서비스들과 카페 등 각기 다른 웹페이지에 올리는 일이 매우 귀찮거나, 시간을 많이 잡아먹는다고 생각하시나요? 네 저희도 역시 그렇다고 생각합니다. 그 문제를 돕기 위해, 우리는 두인디에 당신의 노력과 시간을 절감할 수 있는 기능을 만들었습니다. 당신의 공연 페이지에 가셔서 아래로 스크롤을 내려보세요. ‘SNS 홍보용 텍스트 자료’ 버튼을 누르시면 두인디가 공연에 대한 텍스트 버젼을 만들 것입니다. 이 텍스트를 그대로 복사한 후에 당신의 페이스북 이벤트 페이지나 카페 포스팅에 붙혀넣기 하세요. 참 간편하죠! 더이상 공연 정보를 매번 계속해 적을 필요가 없습니다! 
    </p>
    <p>
      두인디를 이용해주셔서 감사합니다. 멋진 하루 되시길 바랍니다!
    </p>
    <p>Doindie (doindiekorea@gmail.com)<br/>
 
      https://www.facebook.com/doindie.kr<br/>
      https://twitter.com/DoIndieKorea<br/>
      blog.naver.com/doindie<br/>
 
      이 이메일을 받고 싶지 않으세요? 아래 링크를 따라 당신의 프로필 설정을 변경해주세요.<br/>
  <a href="http://doindie.co.kr/users/edit">http://doindie.co.kr/users/edit</a>
    </p>
    <h1 id="english">What's up <%= @user.username %>?</h1>

    <p>Congrats! Your request to manage <%= @event.name %> has been approved by our moderators. You can now edit your shows’ information at anytime by clicking ‘edit this event’ at the very bottom of the event page (please note, you must be logged in to see this option). To see a list of all the events / venues / band profiles you manage, simply log in and go to ‘Your Page’ (under ‘account’ in the main menu, again you must be logged in to see this).</p>

<p>Do you find it really annoying & time consuming to have to create loads of different event pages for all your different social network site and cafes etc? Yeh, we thought so! We do too, so to help you out, we have created a feature on DoIndie that we hope will save you all that time and effort. Head to your event page and scroll down to the bottom. Hit the ‘Create Text Version’ button and DoIndie will create a text only version of your event. Simply copy this text and paste it into your facebook event page or cafe posting. Easy! No need to type the information over and over again!</p>

    <p>Thanks for using DoIndie. Have a great day! </p>

    <p>Doindie (doindiekorea@gmail.com)</p>
<p> 
  <a href="https://www.facebook.com/doindie.kr">https://www.facebook.com/doindie.kr</a><br/>
  <a href="https://twitter.com/DoIndieKorea">https://twitter.com/DoIndieKorea</a><br/>
  <a href="blog.naver.com/doindie">blog.naver.com/doindie</a><br/>
 
  Don't want to get emails like this? Update your profile settings at the link below:<br/>
<a href="http://doindie.co.kr/en/users/edit">http://doindie.co.kr/en/users/edit</a>
    </p>
  </body>
</html>