<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>What's up <%= @user.username %>?</h1>
    <p>
      Congrats! You're approved to manage <%= @event.name %>!<br/>
      Login and you can access the edit form from the bottom of this page:<br/>
      http://hidden-dawn-9617.herokuapp.com<%= url_for @event %>
    </p>
    <p>Thanks for your contributions and have a great day!</p>
    <p>Don't want to get emails like this? <a href="http://hidden-dawn-9617.herokuapp.com/en/users/edit">Click here</a> and update your profile settings</p>
  </body>
</html>