<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>What's up <%= @user.username %>?</h1>
    <p>
      Congrats! You're approved to manage <%= @venue.name %>!<br/>
      Login and you can access the edit form from the bottom of this page:<br/>
      http://hidden-dawn-9617.herokuapp.com<%= url_for @venue %>
    </p>
    <p>Thanks for your contributions and have a great day!</p>
  </body>
</html>