<a href='#english'>[For English, see below]</a> 

<p>
  안녕하세요 <%= @user.username %>?? 한국 인디 씬에 관한 모든 것이 있는 두인디에 가입하신 것을 정말정말 환영합니다!
</p>

<p>
  이제 당신은 중요한 소스들에 접근할 수 있는 프로필을 갖고 있습니다. 당신은 두인디에서 당신이 좋아하는 밴드에 ‘like’를 누름으로써, 간단하게 당신만의 공연 Calendar를 만들 수 있습니다. 두인디에서 밴드에 ‘like’를 누르면 그 밴드들의 다가오는 공연이 당신의 개인 공연 Calendar에 나타납니다. (당신의 공연 Calendar를 보시려면, 로그인 후 메인메뉴인 ‘회원가입' 아래에 있는 ‘마이 페이지’에 들어가세요.) 우리는 곧 두인디에 ‘news feed’ 기능을 탑재해 당신이 좋아하는 밴드의 다가오는 공연, 관련 뉴스, 새 음반 발매 등과 같은 소식을 전부 받아보실 수 있도록 할 계획입니다. 또한 ‘fan profile’ 기능은 앞으로도 계속해서 발전될 것입니다. 우리는 이 기능이 당신이 좋아하는 밴드와 당신을 긴밀하게 연결할 수 있는 중요한 가교역할을 할 수 있을 것이라고 생각합니다.
</p>

<p>
  만약 당신이 새로운 밴드나 공연장의 프로필이나, 공연을 우리의 공연 Calendar에 등록하고 싶으시다면 우선 로그인을 하신 후 아래 링크를 따라오세요 : 
</p>

<p>
  새로운 밴드 등록하기 : <a href="http://doindie.co.kr/bands/new">밴드 추가</a>
</p>
<p>
  새로운 공연장 등록하기 : <a href="http://doindie.co.kr/venues/new">공연장 추가</a>
</p>
<p>
  공연 등록하기 : <a href="http://doindie.co.kr/events/new">공연 등록</a>
</p>

<p>
  만약 두인디에 이미 올라와있는 프로필이나 공연 정보를 수정하고 싶으시다면, 그 프로필에 대한 관리자 상태 승인 요청이 가능합니다. 두인디에 로그인한 후 프로필 페이지 아래에 있는 ‘해당 페이지의 관리자가 되고 싶다면 클릭’을 누르세요. 요청이 승인되는 즉시 두인디에서 이메일이 발송될 것입니다. 
</p>

<p>
  두인디는 그밖에도 새로운 멋진 기능들을 추가할 계획을 갖고 있습니다. (이 모든 것들은 당신이 좋아하는 밴드들을 돕기 위한 것일 뿐만 아니라 당신의 미래에 좋아하게 될 새로운 밴드를 발견하기 위한 것이기도 합니다.) 그 기능들은 아래와 같습니다 :
</p>

<p>
  - 두인디 샵에서 당신이 가장 좋아하는 밴드들의 상품과 CD, 공연 티켓들을 구입할 수 있습니다.<br/>
  - 두인디 MP3 플레이어를 통해 당신은 한국 인디 씬의 최근 노래들을 접할 수 있고, 또한 새롭게 빠져버릴만한 근사한 밴드를 발견할지도 모릅니다.<br/>
  - 당신만의 개인적인 뉴스피드가 있습니다. (당신은 당신이 두인디에서 ‘like’를 누른 밴드의 최신 소식을 받아볼 수 있습니다.) <br/>
  - 그리고 더욱 많은 것들.
</p>

<p>
  당신은 두인디가 제공하는 최신의 인디 뉴스들을 통해서 유행에 뒤쳐지지 않을 수 있을 겁니다. 두인디의 ‘Blog’ 섹션을 클릭해서 두인디 스태프들이 취재한 밴드 인터뷰들과 관련 아티클들을 읽어보세요. <a href="http://doindie.co.kr/blog">'블로그'</a> 또한 당신이 공연장에서 찍은 사진을 두인디 ‘이달의 사진’ 콘테스트에 응모하는 것도 잊지 마세요. 우승자는 멋진 상품을 받게되는 것은 물론, 두인디 메인 페이지에 해당 사진이 걸리게 됩니다! <a href="http://doindie.co.kr/photo">'이달의 사진'</a>
</p>

<p>
  두인디를 이용해주시는 것에 대해 다시 한번 감사드립니다. 당신의 친구들에게 두인디에 관한 이야기를 전해주세요. 그리하여 이 웹사이트가 오래도록 한국 지역 음악 씬의 든든한 기둥으로 자리잡을 수 있게 도와주세요. 혹시 두인디를 위해 도움을 주고 싶은 부분이 있다면 주저말고 우리에게 메세지를 남겨주세요. 우리는 언제나 새로운 사람들을 만나는 일에 즐거움을 느끼며, 우리 모두가 인디 씬을 위해 기여할 수 있는 저마다의 부분이 있다고 생각합니다!
</p>
<p>
Doindie (doindiekorea@gmail.com)<br/>
https://www.facebook.com/doindie.kr<br/>
https://twitter.com/DoIndieKorea<br/>
blog.naver.com/doindie<br/>
이 이메일을 받고 싶지 않으세요? 아래 링크를 따라 당신의 프로필 설정을 변경해주세요.<br/>
http://doindie.co.kr/users/edit
</p>

<br/>
<p id="english">
  What’s up <%= @user.username %>? Welcome to Doindie, your one-stop-shop for everything related to the Korean indie scene!
</p>
<p>
  Now that you have a profile with us you have access to loads of great resources. You can make a personalised gig calendar by simply ‘liking’ all your favorite bands on DoIndie. After liking a band DoIndie will publish all that bands upcoming shows in your personal gig calendar (to view your gig calendar, simply log in and head to ‘Your Page’ under ‘account’ in the main menu). We will soon be implementing a ‘news feed’ feature where we will inform you about your favorite bands comings and goings, news, gigs, new releases etc. In the future, as our ‘fan profile’ features develops we are confident it will become a great tool for connecting you with your favorite bands. 
</p>
<p>
  If you can now create profiles for bands or venues and add shows to our gig calendar.  Simply log in and follow the links below :
</p>

<p>
  Create a new band : <a href="http://doindie.co.kr/en/bands/new">New Band</a><br/>
  Create a new venue : <a href="http://doindie.co.kr/en/venues/new">New Venue</a><br/>
  Enter an event : <a href="http://doindie.co.kr/en/events/new">New Event</a>
</p>
<p>
  Alternatively, if a profile / event already exists in our database and you would like to edit it, you can now claim management status for that profile. Simply login to DoIndie, find the profile you want to edit and scroll down to the bottom of the page. Click ‘edit this profile’ and we will send you an email when your request has been accepted.
</p>
<p>
  We have loads of other cool new features in the works (designed to help you not only keep up with your favorite bands but to also help you discover your NEW favourite band), including the following :  
</p>
<p>
- A DoIndie shop where you can buy your favorite bands merchandise / CDs and gig tickets<br/>
- DoIndie MP3 player where you can head the latest sounds from the Korean music scene / discover your new favorite band<br/>
- A news feed in your personal profile (so you can stay up with the latest news from the bands you have ‘liked’ on DoIndie.<br/>
- and many many more.
</p>
<p>
  You can also keep upto date with the latest Korean indie news, read our band interviews and read articles by DoIndie staff by heading over to our ‘Blog’ section on DoIndie's <a href="http://doindie.co.kr/en/blog">Blog</a>. Don’t forget to submit your own concert shots to our ‘Photo of the Month’ contest to win some great prizes as well as seeing your work displayed on the front page of DoIndie! <a href="http://doindie.co.kr/photo">Photo of the Month</a>
</p>
<p>
  Thanks again for using Doindie. Please tell your friends about us and help us to build this website into a long lasting pillar of the local Korean Music scene. If you would like to help us out here at DoIndie, please drop us a message. We are interested always happy to meet new people and feel like everyone has something important contribute to our great scene!
</p>
<p>
Doindie (doindiekorea@gmail.com)<br/>
https://www.facebook.com/doindie.kr<br/>
https://twitter.com/DoIndieKorea<br/>
blog.naver.com/doindie<br/>
Don't want to get emails like this? Update your profile settings at the link below:<br/>
http://doindie.co.kr/en/users/edit<br/>
</p>