<h2>Edit Genre</h2>

<%= render "form" %>
<br />
<br />
<br />
<br />
<%= link_to "Delete genre", admin_genre_path, method: 'delete', data: {confirm: "Are you sure? Can't undo!"}, class: "btn btn-danger" %>