<div class="row">
	<div class="col-md-12">
    <% unless @events.blank? %>
	  	<% @events.each do |event| %>
	    	<div><%= link_to event.name, event %></div>
	  	<% end %>
    <% else %>
      <p> Sorry, no matches</p>
    <% end %>
	</div>
</div>