<h2>New Event</h2>
<p>Many events have already been submitted to the doindie calendar. Before entering a new event, please take some time to make sure it is not already posted. If the event has already been added, but contains errors or needs updating, please let us know using the contact form and tell us what needs to be changed.</p>

<%= render "form" %>