<%= @venue.name %>
<%= @venue.misc %>
<div style='width: 600px;'>
  <div id="map" style='width: 600px; height: 400px;'></div>
</div>

<% unless @venue.latitude == nil %>
<script type="text/javascript">
	handler = Gmaps.build('Google');
		handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){


			markers = handler.addMarkers(<%=raw @hash.to_json %>);

			handler.bounds.extendWith(markers);
			handler.fitMapToBounds();
			handler.getMap().setZoom(15)
		});
</script>
<% else %>
<p>Uh-oh, we don't have the address for this venue yet!</p>
<% end %>