<p>View in front end: <%=link_to @venue.name, venue_path(@venue) %></p>


<%= render 'form' %><br/>

<%= link_to "Delete", admin_venue_path(@venue), method: "DELETE", data: {confirm: "Are you sure?"} %>