#email settings for gmail
DOMAIN: ""
SENDER_EMAIL: "DoindieMailer"
MAILER_DOMAIN: "gmail.com"
SMTP_SERVER: "smtp.gmail.com"
SMTP_PORT: 587
SMTP_USER: ""
SMTP_PWD: ""
AUTHENTICATION: "plain"

DUMPER_KEY: ""
GIBBON_KEY: ""
EMAIL_LIST_ID": ""
TWITTER_CONSUMER_KEY: ""
TWITTER_CONSUMER_SECRET: ""
TWITTER_ACCESS_TOKEN: ""
TWITTER_ACCESS_SECRET: ""
SOUNDCLOUD_ID: ""