<div class="nested-fields">
  <%= f.label "Youtube link" %><br />
  <%= f.text_field :link, placeholder: "http://youtube.com/watch?v=your_video, don't leave blank!", class: "form-control half" %>
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Delete video" %>
</div>