<div class="row">
  <div class="col-sm-6">
    <h1>
      Edit city <small><%= "#{@city.en_name}" %></small>
    </h1>
    <p><%= link_to "Back to index", admin_cities_path %></p>

    <%= render 'form' %>

    <br />
    <br />
    <br />
    <br />

    <p>
      <%= link_to "Delete this city", admin_city_path, method: 'delete', class: "btn btn-danger",  data: {confirm: "Are you sure? You can't undo this!"} %>
    </p>

  </div>
</div>