<div class="row">
	<div class="col-md-12">
    <div style='width: 100%;'>
	    <div id="map" style='width: 100%; height: 400px;'></div>
    </div>
  </div>
</div>
<div class="row">
	<% @venues.each do |venue| %>
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<%= image_tag venue.avatar.url(:medium) %>
				
				<div class="caption">
					<h3><%= link_to venue.name, venue_path(venue) %></h3>
				    <p><%= venue.area%></p>
				    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
				</div>
			</div>
		</div>
	<% end %>
</div>

<script type="text/javascript">
	handler = Gmaps.build('Google');
		handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){


			markers = handler.addMarkers(<%=raw @hash.to_json %>);

			handler.bounds.extendWith(markers);
			handler.fitMapToBounds();
			handler.getMap().setZoom(12)
		});
</script>

