/*
 * Overwritten by RailsBricks
 *
 *= require_self
 *= require chosen
 *= require font-awesome
 */
@import "framework_and_overrides";
@import "darkly";
@import "chosen";
@import "font-awesome";

#myCarousel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}