// ============ Tiny screens ============
@media (max-width: $screen-xs-max) {
  .toppad {
    height: 75px;
  }

  #nprogress .spinner {
    display: none;
  }

  .slide-caption {
    bottom: 70px;
  }

  .slide-caption h2.link{
    font-size: 1.5em;
  }

  .slide-caption p {
    font-size: 1.1em;
  }

  .events_selector {
    min-width: 300px;
  }

  .events-listing .info {
    height: auto;    
    padding-right:0;
    padding-bottom: 15px;
  }

  .events-listing .info h4 {
    text-align: center;
  }

  .events-listing .info .avatar {
    width:100%; height: auto;
  }

  .events-listing .bands {
    border-left: 0px;
  }


}

// ============ Small screens ============
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  #topnavbar {
    top:0;
  }
  
  #topnavbar .nav > li > a {
    text-transform: none;
  }

  .toppad {
    height: 80px;
  }

  #topnavbar .navbar-header {
    width: 70px;
  }

  #home-posts > div > a {
    min-width: 33.33%;
  }

  .home-posts-item {
    width: 33.33%;
  }

  .home-events-item {
    width: 50%;
  }

  #home-events > div > a {
    min-width: 50%;
  }

  #nprogress .spinner {
    display: none;
  }

  .slide-caption {
    bottom: 180px;
  }

  .slide-caption h2.link{
    font-size: 1.8em;
  }

  .slide-caption p {
    font-size: 1.6em;
  }

  .events_selector {
    min-width: 400px;
  }

}

// ============ Medium screens ============
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  #topnavbar .nav > li > a {
    padding: 28px 20px;
    text-transform: uppercase;
    font-size:20px;
  }

  #home-posts > div > a {
    min-width: 25%;
  }

  .home-posts-item {
    width: 25%;
  }

  .home-events-item {
    width: 33.33%;
  }

  #home-events > div > a {
    min-width: 33.33%;
  }

  .slide-caption {
    bottom: 45%;
  }

  .events_selector {
    min-width: 450px;
  }

}

// ============ Large screens ============
@media (min-width: $screen-lg-min) {
  #topnavbar .nav > li > a {
    padding: 28px 20px;
    text-transform: uppercase;
    font-size:20px;
  }
  
  #home-posts > div > a {
    min-width: 20%;
  }

  .home-posts-item {
    width: 20%;
  }

  .home-events-item {
    width: 25%;
  }

  #home-events > div > a {
    min-width: 25%;
  }

  .slide-caption h2.link{
    font-size: 1.6em;
  }

  .slide-caption p {
    font-size: 1.4em;
  }

  .events_selector {
    min-width: 500px;
  }

  .slide-caption {
    bottom: 45%;
  }
}

/**
 * Combos
**/
// ============ Tiny & Small ============
// ============ Small & Medium ============
// ============ Medium & Large ============
