<p>
[For English, see below] 
</p>

<p>
  안녕하세요 <%= @resource.username %>!<br/>
  누군가 당신 계정의 비밀번호 변경을 요청했습니다. 비밀번호 변경을 원하시면 아래 링크를 클릭한 후 절차에 따라주세요.
</p>
<p>
  <%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %>
</p>
<p>
  만약 이것이 당신이 요청한 것이 아니라면, 이 이메일을 무시해주세요. 당신이 위의 링크를 타고 새롭게 지정하지 않는 이상, 비밀번호는 변경되지 않을 것입니다.
</p>
<p>
  항상 두인디를 이용해주셔서 감사합니다.
</p>
Doindie (doindiekorea@gmail.com)<br/>
https://www.facebook.com/doindie.kr<br/>
https://twitter.com/DoIndieKorea<br/>
blog.naver.com/doindie<br/>

<p>
  Hello <%= @resource.username %>!
<p/>
<p>
  Someone has requested a link to change your account password. If you wish to change your password, please follow the link below :
</p>
<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>
<p>
  If you didn't request this, please ignore this email. Your password can not be changed until you access the link above and create a new one.<p>
Thanks for using DoIndie, <br/>
Doindie (doindiekorea@gmail.com)<br/>
 
https://www.facebook.com/doindie.kr<br/>
https://twitter.com/DoIndieKorea<br/>
blog.naver.com/doindie<br/>