
<div id="myCarousel" class="royalSlider gp-theme slideshow">
  <% @slides.each do |slide| %>
  
  <div class="slide-1 rsContent">
          
    <img class="rsImg" src="<%= image_path slide.image.url %>">"

    <div class="slide-caption rsABlock rsNoDrag" data-fade-effect="false" data-move-effect="left" data-move-offset="300" data-speed="500" data-delay="0" data-easing="easeOutSine">
                      
      <h2 class="link">
          <a href="http://www.doindie.co.kr/asian-chairshot-interview/" title="Asian Chairshot Interview">
              Asian Chairshot Interview                                        </a>
      </h2>
      <p>싸인 CD와 공연 티켓 받기 / Win signed CDs & Concert Tickets</p>
                    
    </div><!-- END // slide-caption -->

  </div><!-- END // slide -->
  <% end %>

</div>
