<div id="footer">
  <div class="container">
    
    <div class="row footer-first-row">
      
      <div class="col-xs-12 text-center">
        <p><small>
          &copy; 2013-<%= Date.today.year %> - Doindie! <%= link_to t(:contact), contact_path %>	
        <a target="_blank" title="Twitter" href="https://twitter.com/DoIndieKorea" class="social-twitter social-footer"> Twitter </a>
		<a target="_blank" title="Facebook" href="https://www.facebook.com/doindie.kr" class="social-facebook social-footer"> Facebook </a>
		<a target="_blank" title="Naver" href="http://blog.naver.com/doindie" class="social-naver social-footer"> Naver </a>
        </small></p>
      </div>
    </div>
    
  </div>
</div>