<ul class="socials">
	<li class="social-twitter">
		<a target="_blank" title="Twitter" href="https://twitter.com/DoIndieKorea" target: "_blank" > Twitter </a>
	</li>
	<li class="social-facebook">
		<a target="_blank" title="Facebook" href="https://www.facebook.com/doindie.kr" target="_blank" > Facebook </a>
	</li>
	<li class="social-naver">
		<a target="_blank" title="Naver" href="http://blog.naver.com/doindie" target: "_blank" > Naver </a>
	</li>
	<li><%= link_to 'en.png', url_for(locale: 'en'), class: 'en-flag no-padding' %></li>	
    <li><%= link_to 'ko.png', url_for(locale: 'ko'), class: 'ko-flag no-padding' %></li>
</ul>